<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.dao.OrderMapper">
    <select id="list" resultType="com.itheima.common.vo.OrderVO">
        select o.*, m.name,m.phoneNumber,m.fileNumber
        from t_order o, t_member m
        <where>
            o.member_id = m.id
            <if test="queryString == null">
                and m.fileNumber like concat('%','','%')
                or m.name like concat('%','','%')
            </if>
            <if test="queryString != null">
                and m.fileNumber like concat('%',#{queryString},'%')
                or m.name like concat('%',#{queryString},'%')
            </if>
        </where>
    </select>

    <select id="countByRegDateAndOrderStatus" resultType="java.lang.Integer">
        select count(*)
        from t_order
        <where>
            <if test="today != null">
                and orderDate = #{today}
            </if>
            <if test="orderStatus != null and orderStatus != ''">
                and orderStatus = #{orderStatus}
            </if>
        </where>
    </select>

    <select id="countByRegDateAndOrderStatusOfWeek" resultType="java.lang.Integer">
        select count(*)
        from t_order
        <where>
            <if test="begin != null and end != null">
                and orderDate between #{begin} and #{end}
            </if>
            <if test="orderStatus != null and orderStatus != ''">
                and orderStatus = #{orderStatus}
            </if>
        </where>
    </select>

    <select id="countByRegDateAndOrderStatusOfMonth" resultType="java.lang.Integer">
        select count(*)
        from t_order
        <where>
            <if test="month != null">
                and orderDate like concat(#{month}, '%')
            </if>
            <if test="orderStatus != null and orderStatus != ''">
                and orderStatus = #{orderStatus}
            </if>
        </where>
    </select>
</mapper>