<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.dao.SetmealCheckgroupMapper">
    <insert id="insertBatch">
        insert into t_setmeal_checkgroup(setmeal_id, checkgroup_id)
        values
        <foreach collection="checkgroupIds" item="checkgroupId" separator=",">
            (#{setmealId}, #{checkgroupId})
        </foreach>
    </insert>
</mapper>